<script type="text/template" id="admin_head">
	<link rel="stylesheet" type="text/css" href="resources/css/styleWhite.css" />
</script>

<script type="text/template" id="admin_template">
	<span class="title">Administracion:</span>
	<ul class="menuAdmin">
		<li><a href="#admin_customers">Clientes</a></li>
		<li><a href="#">Ordenes de Pedido</a></li>
		<li><a href="#">Caja</a></li>
		<li><a href="#">Deudores</a></li>
		<li><a href="#">Calculo de Precio</a></li>
		<li><a href="#">Administracion Precios</a></li>
		<li><a href="#">Cargar Galeria de Imagenes</a></li>
	</ul>	
</script>

