<script type="text/template" id="admin_customers_results">
	<form>
		<label for="lastName">Buscar por Apellido</label>			
		<input type="text" id="customerName" name="lastName" required/>
		<input type="submit" id="search" value="Buscar" />
	</form>
</script>

